<div class="container" id="body">
    <div class="fullwidth">
        <h2>
            Shift Listing
        </h2>
        <br>
        <div class="container">
            <div class="rightblock">
                <h2>Upcomming Shifts</h2>
                <div class="dashedline"></div>
                <!-- begin future shift items -->

                <div class="dashedline"></div>
            </div>
            <div class="rightblock">
                <h2>Upcomming Shifts</h2>
                <div class="dashedline"></div>
                <!-- begin future shift items -->

                <div class="dashedline"></div>
            </div>
        </div>
    </div>
</div>
    @*<div class="eventmonth">
        <span id="ctl00_ContentPlaceHolder1_eventscalendar" class="eventmonthtable" style="display:inline-block;border-width:0px;"></span>
    </div>
    <div class="fullwidth">
        <table id="ctl00_ContentPlaceHolder1_Table1" border="0" style="width:100%;">
            <tbody>
                <tr id="ctl00_ContentPlaceHolder1_TableRow1">
                    <td style="width:33%;"><span style="color:White;background-color:Green;font-weight:bold;">Shift Passed Completed</span></td>
                    <td style="width:33%;"><span style="color:Black;background-color:GreenYellow;font-weight:bold;">Shift Passed Confirmed</span></td>
                    <td><span style="color:White;background-color:Red;font-weight:bold;">Shift Passed Todo</span></td>
                </tr>
                <tr id="ctl00_ContentPlaceHolder1_TableRow2">
                    <td><span style="color:White;background-color:Gray;font-weight:bold;">Shift Passed Other</span></td>
                    <td><span style="color:Black;background-color:Yellow;font-weight:bold;">Future Shift</span></td>
                    <td><span style="color:White;background-color:Purple;font-weight:bold;">Shift Paid</span></td>
                </tr>
                <tr id="ctl00_ContentPlaceHolder1_TableRow3">
                    <td id="ctl00_ContentPlaceHolder1_TableCell2" colspan="3"></td>
                </tr>
                <tr id="ctl00_ContentPlaceHolder1_TableRow4">
                    <td id="ctl00_ContentPlaceHolder1_TableCell4" align="center" colspan="3"><span id="ctl00_ContentPlaceHolder1_Label3" style="color:White;background-color:Black;font-weight:bold;">Unconfirmed Shift "Phone Contact Center" To Confirm</span></td>
                </tr>
            </tbody>
        </table>
    </div>*@
