@{
    ViewData["Title"] = "Home";
}

<div class="container container-fluid img-responsive">

    <div class="text-center">
        <h1 class="display-4">Welcome To The Work Portal</h1>
        <br />
    </div>
    <img src="jpg/slide-1.jpg" class="img-fluid" alt="Work Portal"/>
</div>
