@using WorkPortal.Infrastructure
@using WorkPortal.Services.Employees
@inject IEmployeeService employeeService
@{
    var userId = this.User.GetId();
    var isUserApproved = employeeService.IsUserApproved(userId);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/mysite.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl fixed-top navbar-light bg-white pmd-navbar pmd-z-depth-light-1">
            <!-- Navbar Brand -->
            <div class="navbar-header">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <span>Work Portal</span>
                </a>
            </div>
            <div class="nav-tabs-left">
                <ul class="navbar-nav flex-grow-1">
                    @if (User.IsAdmin())
                    {
                        <li class="nav-item float-md-left "><a class="nav-link text-dark" asp-area="Admin" asp-controller="Employee" asp-action="Add">New Employee</a></li>
                        <li class="nav-item float-md-left "><a class="nav-link text-dark" asp-area="Admin" asp-controller="Employee" asp-action="All">Employee For approval</a></li>
                        <li class="nav-item float-md-left "><a class="nav-link text-dark" asp-area="Admin" asp-controller="Shift" asp-action="Add">New Shift</a></li>
                        <li class="nav-item float-md-left "><a class="nav-link text-dark" asp-area="Admin" asp-controller="Shift" asp-action="All">All Shift</a></li>
                        <li class="nav-item float-md-left "><a class="nav-link text-dark" asp-area="Admin" asp-controller="AnnualLeave" asp-action="All">Annual Leave</a></li>



                    }
                    @if (User.Identity.IsAuthenticated && !User.IsAdmin())
                    {
                        <li class="nav-item float-md-left "><a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Profile">My Profile</a></li>
                        if (isUserApproved)
                        {
                            <li class="nav-item float-md-left "><a class="nav-link text-dark" asp-area="" asp-controller="Shifts" asp-action="Mine">Shifts</a></li>
                            <li class="nav-item float-md-left "><a class="nav-link text-dark" asp-area="" asp-controller="AnnualLeave" asp-action="All">Annual Leave</a></li>
                        }
                    }

                </ul>
            </div>
            <!-- Right Menu -->
            <div class="pmd-navbar-right-icon ml-auto">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="pmd-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 align-self-center">
                    <div class="pmd-site-info">
                        © <span class="auto-update-year">@DateTime.UtcNow.Year</span><strong> Work Portal</strong>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
