@{
    ViewBag.Title = "Annual Leave";
}

<div id="content" class="pmd-content inner-page admin">
    <h1  class="text-center"id="leave">@ViewBag.Title</h1>

    <section class="component-section" id="employee">
        <div class="menu pmd-floating-action align-content-center" role="navigation">
            <a class="pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-secondary" data-title="Apply Leave" asp-action="Add">
                <i class="material-icons pmd-sm">add</i> 
            </a>
        </div>
        <table class="table pmd-table table-hover pmd-table-card">
            <thead class="thead-light">
            <tr>
                <th>Employee</th>
                <th>Leave Type</th>
                <th>Half Day</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Reason</th>
                <th>No of Leave</th>
                <th>Paid / Unpaid</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td data-title="Employee">Tarah L. Faulkner</td>
                <td data-title="Leave Type">Casual Leave</td>
                <td data-title="Half Day">No</td>
                <td data-title="Start Date">1<sup>st</sup> September, 2018</td>
                <td data-title="End Date">3<sup>rd</sup> September, 2018</td>
                <td data-title="Reason">Attend Cousin's Wedding</td>
                <td data-title="No of Leave">3</td>
                <td data-title="Paid / Unpaid">Paid</td>
                <td data-title="Status">Pending</td>
                <td data-title="">
                    <a href="javascript:void(0);" title="Accept" class="pmd-btn-fab btn-xs btn-outline-secondary btn mr-2 pmd-ripple-effect">
                        <i class="material-icons">done</i>
                    </a>
                    <a href="javascript:void(0);" title="Reject" class="pmd-btn-fab btn-xs btn-outline-danger btn pmd-ripple-effect" data-toggle="modal" data-target="#reject-modal">
                        <i class="material-icons">close</i>
                    </a>
                </td>
            </tr>
            <tr>
                <td data-title="Employee">James L. Faulkner</td>
                <td data-title="Leave Type">Sick Leave</td>
                <td data-title="Half Day">No</td>
                <td data-title="Start Date">1<sup>st</sup> September, 2018</td>
                <td data-title="End Date">3<sup>rd</sup> September, 2018</td>
                <td data-title="Reason">Having Fever</td>
                <td data-title="No of Leave">3</td>
                <td data-title="Paid / Unpaid">Paid</td>
                <td data-title="Status">Approved</td>
                <td data-title=""></td>
            </tr>
            </tbody>

        </table>
    </section>
</div>