@model WorkPortal.Areas.Admin.Models.Employee.AddViewModel

@{
    ViewBag.Title = "Add Employee";
}


<div class="page-content">
    <div class="pmd-tabs pmd-tabs-dark bg-primary">
        <div class="pmd-tab-active-bar" style="width: 93.125px; left: 0px;"></div><ul class="nav nav-tabs" role="tablist" style="width: 325.575px;">
            <li class="nav-item"><a class="nav-link active" href="#about" aria-controls="about" role="tab" data-toggle="tab">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#documents" aria-controls="documents" role="tab" data-toggle="tab">Documents</a></li>
            <li class="nav-item"><a class="nav-link" href="#salary" aria-controls="salary" role="tab" data-toggle="tab">Salary</a></li>
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- About Tab -->
        <div role="tabpanel" class="tab-pane active" id="about">
            <div class="card pmd-card">
                <form>
                    <div class="card-body">
                        <!-- Upload Picture -->
                        <div class="details-tab">
                            <h3 class="card-title mb-3">Profile Picture</h3>
                                <div class="action-button">
                                    <span class="btn btn-secondary pmd-btn-fab btn-sm pmd-btn-raised btn-file pmd-ripple-effect">
                                        <input type="url" name="...">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Basic Information -->
                        <div class="details-tab">
                            <h3 class="card-title">Basic Information</h3>
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label ">
                                        <label for="fn" class="col-form-label control-label">First Name</label>
                                        <input type="text" class="form-control" value="@Model.Firstname" id="fn"><span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label ">
                                        <label for="ln" class="col-form-label control-label">Last Name</label>
                                        <input type="text" class="form-control" value="@Model.Lastname" id="ln"><span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label ">
                                        <label for="mn" class="col-form-label control-label">Middle Name</label>
                                        <input type="text" class="form-control" value="" id="mn"><span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label ">
                                        <label for="phone" class="col-form-label control-label">Phone</label>
                                        <input type="tel" class="form-control" value="" id="phone"><span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label ">
                                        <label for="personal-email" class="col-form-label control-label">Personal Email</label>
                                        <input type="email" class="form-control" id="personal-email" value="@Model.Email"><span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="dob" class="col-form-label control-label">Date of Birth</label>
                                        <input type="date" class="form-control" id="birthdate-picker" value="@Model.DateOfBirth"><span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <label for="email" class="d-block title-label">Gender</label>
                                    <div class="custom-control custom-radio pmd-radio custom-control-inline">
                                        <input type="radio" id="male" name="gender" class="custom-control-input">
                                        <label class="custom-control-label pmd-radio-ripple-effect" for="male">Male</label>
                                    </div>
                                    <div class="custom-control custom-radio pmd-radio custom-control-inline">
                                        <input type="radio" id="female" name="gender" class="custom-control-input">
                                        <label class="custom-control-label pmd-radio-ripple-effect" for="female">Female</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Employee Information -->
                        <div class="details-tab">
                            <h3 class="card-title">Employee Information</h3>
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label ">
                                        <label for="id" class="col-form-label control-label">Employee Enrollment ID</label>
                                        <input type="text" class="form-control" value="" id="id"><span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="doj" class="col-form-label control-label">Date of Joining</label>
                                        <input type="date" class="form-control" id="joindate-picker"><span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label ">
                                        <label for="email" class="col-form-label control-label">Company Email</label>
                                        <input type="email" class="form-control" value="" id="email"><span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label ">
                                        <label for="advance_department">Department</label>
                                        <select name="select" id="advance_department" class="form-control">
                                            <option></option>
                                            <option>Design</option>
                                            <option>Development</option>
                                            <option>Marketing</option>
                                            <option>Sales</option>
                                            <option>Quality Assurance</option>
                                        </select><span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label ">
                                        <label for="advance_designation">Designation</label>
                                        <select name="select" id="advance_designation" class="form-control">
                                            <option></option>
                                            <option>UI / UX Designer</option>
                                            <option>Marketing Manager</option>
                                            <option>PHP Developer</option>
                                            <option>Mobile App Developer</option>
                                            <option>Sales and Marketing Head</option>
                                        </select><span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label ">
                                        <label for="reporting">Reporting Employee</label>
                                        <select name="select" id="reporting" class="form-control">
                                            <option></option>
                                            <option>Darlene C. Larsen</option>
                                            <option>John L. Wade</option>
                                            <option>Lolita M. Bradley</option>
                                            <option>Kenneth R. Brooks</option>
                                            <option>Joseph S. Richardson</option>
                                        </select><span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Contact Information -->
                        <div class="details-tab">
                            <h3 class="card-title">Contact Information</h3>
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label ">
                                        <label for="addline1" class="col-form-label control-label">Address Line 1</label>
                                        <input type="text" class="form-control" value="" id="addline1"><span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label ">
                                        <label for="city" class="col-form-label control-label">City</label>
                                        <input type="text" class="form-control" value="" id="city"><span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="zipcode" class="col-form-label control-label">Zip Code</label>
                                        <input type="text" class="form-control" value="" id="zipcode"><span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer pmd-card-border">
                            <button class="btn pmd-ripple-effect btn-primary pmd-btn-raised" type="button">Save</button>
                            <button class="btn pmd-ripple-effect btn-outline-secondary" type="button">Reset</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
